<div class="home-wrapper">
  <!-- <div  ng-cloak="" class="navBardemoBasicUsage">
      <md-content class="md-padding home-navbar-content">
        <md-nav-bar nav-bar-aria-label="navigation links" layout="row" layout-align="end center">
          <md-nav-item md-nav-sref="aboutUs" class="home-navbar-link">O name</md-nav-item>
          <md-nav-item  md-nav-sref="stores" class="home-navbar-link">Prodavnice</md-nav-item>
          <md-nav-item  md-nav-sref="sale" class="home-navbar-link">Akcije</md-nav-item>
          <md-nav-item  md-nav-sref="saleOfMonth" class="home-navbar-link">Akcije meseca</md-nav-item>

      </md-nav-bar>
    </md-content>
  </div> -->

  <nav class="navbar navbar-fixed-top navbar-inverse navbar-home">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand navbar-logo-img" href="#"><img src="img/CicoRico-za nav bar.png" class="logo-simbol-nav"/></a>
         </div>
         <div id="navbar" class="collapse navbar-collapse home-navbar">
           <ul class="nav navbar-nav">
             <li><a href="#">O nama</a></li>
             <li><a ui-sref="stores">Prodavnice</a></li>
             <li><a ui-sref="sale">Akcije</a></li>
             <li><a ui-sref="saleOfMonth">Akcije meseca</a></li>
           </ul>
         </div><!-- /.nav-collapse -->
       </div><!-- /.container -->
     </nav><!-- /.navbar -->


     <div class="container">
    <div class="header">
        <div class="clr"></div>
    </div>
    <div class="sp-container">
        <div class="sp-content">
            <div class="sp-globe"></div>
            	<!-- <h2 class="frame-1">It's destroying the planet</h2>

            	<h2 class="frame-2">It's mass, mechanized murder</h2>

            	<h2 class="frame-3">You can stop it</h2>

            	<h2 class="frame-4">Now!</h2> -->

              <h2 class="frame-1 green-1">Dobrodošli na sajt</h2>

            	<h2 class="frame-2 green-2">Čičo Ričo</h2>

            	<h2 class="frame-3 green-3">Vaš mali slatki</h2>

            	<h2 class="frame-4 green-4">prijatelj</h2>

            	<h2 class="frame-5 green-5"><span>Čičo Ričo -</span> <span>Vaš mali slatki prijatelj</span></h2>
	<a class="sp-circle-link" href="#">Join us!</a>

        </div>
    </div>
</div>

</div>
